
body {background-color:transparent none right}

navegador {background-color:blue}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

#graficas {
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid #0F5496;
	-webkit-box-shadow: 1px 1px 3px 2px #9C9C9C;
	box-shadow: 1px 1px 3px 2px #9C9C9C;
}

#principal {
	background: rgba(13,73,130,1);
	background: -moz-linear-gradient(left, rgba(13,73,130,1) 0%, rgba(8,62,120,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(13,73,130,1)), color-stop(100%, rgba(8,62,120,1)));
	background: -webkit-linear-gradient(left, rgba(13,73,130,1) 0%, rgba(8,62,120,1) 100%);
	background: -o-linear-gradient(left, rgba(13,73,130,1) 0%, rgba(8,62,120,1) 100%);
	background: -ms-linear-gradient(left, rgba(13,73,130,1) 0%, rgba(8,62,120,1) 100%);
	background: linear-gradient(to right, rgba(13,73,130,1) 0%, rgba(8,62,120,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4982', endColorstr='#083e78', GradientType=1 );
}

a.menu:link{
	color: white;
}